<section class="section__all--views">
  <div class="content__views">
    <div class="container">
      <div class="view__modal__container">
        <article class="delete__content">
          <div class="items__elements__title">
            <h5 class="items__name">Eliminar Habitación</h5>
          </div>
          <div class="sub__header">
            <div class="sub__header__container">
              <article class="sub__header__content">
                <section class="section__sub__header">
                  <article class="article__sub__header sub__header__actions">
                    <div class="sub__header__actions__container">
                      <div class="sub__header__action">
                        <a href="/rooms" class="sub__header__link">
                          <figure class="sub__header__figure">
                            <img src="/assets/icon-back.svg" alt="Icon Back" class="sub__header__img">
                          </figure>
                        </a>
                        <span class="sub__header__span">Volver</span>
                      </div>
                    </div>
                  </article>
                </section>
              </article>
            </div>
          </div>
          <section class="items">
            <div class="items__container__elements">
              <section class="views__container--elements view__scrollbar">
                <div class="views__content--elements view__scrollbar room">
                  <div class="item__info room">
                    <article class="items__header items__grid room">
                      <div class="flex-c-c">Usuario:</div>
                      <div class="flex-c-c">Piso:</div>
                      <div class="flex-c-c">Núm:</div>
                      <div class="flex-c-c">Descripción:</div>
                      <div class="flex-c-c">Categoría:</div>
                      <div class="flex-c-c">Precio:</div>
                      <div class="flex-c-c">Fecha Registro:</div>
                    </article>
                    <article class="items__data items__grid room">
                      <div class="flex-c-c">{{room.usuarioRegistroHabitacion.usuario}}</div>
                      <div class="flex-c-c">{{room.pisoHabitacion.numeroPiso}}</div>
                      <div class="flex-c-c">{{room.numeroHabitacion}}</div>
                      <div class="flex-c-c">{{room.descripcionHabitacion}}</div>
                      <div class="flex-c-c">{{room.categoriaHabitacion.nombreCategoriaHabitacion}}</div>
                      <div class="flex-c-c">S/ {{formatCurrency room.precioHabitacion}}</div>
                      <div class="flex-c-c">{{formatDateTime room.createdAt}}</div>
                    </article>
                  </div>
                </div>
              </section>
            </div>
          </section>
        </article>
        <section class="flex-c-c modal__delete">
          <article class="modal__delete--content">
            <h4 class="modal__delete--title">¿Estás seguro que deseas eliminar esta Habitación?</h4>
            <div class="modal__delete--btns">
              <a href="/rooms" class="modal__delete--btn">Cancelar</a>
              <a href="/rooms/{{room._id}}/delete" class="modal__delete--btn delete__btn">Eliminar</a>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</section>