<section class="section__all--views">
  <div class="content__views">
    <div class="container views__container">
      <div class="card__items">
        <div class="items__elements__title">
          <h5 class="items__name">Historial de Habitaciones</h5>
        </div>
        <div class="sub__header">
          <div class="sub__header__container">
            <article class="sub__header__content">
              <section class="section__sub__header">
                <article class="article__sub__header sub__header__actions">
                  <div class="sub__header__actions__container">
                    <div class="sub__header__action">
                      <a href="/rooms" class="sub__header__link">
                        <figure class="sub__header__figure">
                          <img src="/assets/icon-back.svg" alt="Icon Back" class="sub__header__img">
                        </figure>
                      </a>
                      <span class="sub__header__span">Volver</span>
                    </div>
                    <div class="sub__header__action">
                      <a href="/rooms/register" class="sub__header__link">
                        <figure class="sub__header__figure">
                          <img src="/assets/icon-add.svg" alt="Icon Add" class="sub__header__img">
                        </figure>
                      </a>
                      <span class="sub__header__span">Nueva Habitación</span>
                    </div>
                  </div>
                </article>
              </section>
            </article>
          </div>
        </div>
        {{#if roomsHistory}}
          <section class="items">
            <div class="items__container__elements">
              <section class="views__container--elements view__scrollbar">
                <div class="views__content--elements items__container rooms__history">
                  <article class="items__header items__grid rooms__history">
                    <div class="flex-c-c">Tipo</div>
                    <div class="flex-c-c">Hecho por</div>
                    <div class="flex-c-c">Piso</div>
                    <div class="flex-c-c">Número</div>
                    <div class="flex-c-c">Descripción</div>
                    <div class="flex-c-c">Categoría</div>
                    <div class="flex-c-c">Precio</div>
                    <div class="flex-c-c">Fecha</div>
                  </article>
                  <div class="items__data--values">
                    {{#each roomsHistory}}
                      <div class="container__data">
                        <article class="items__data items__grid rooms__history">
                          <div class="flex-c-c"><span class="span__data__item tipo__historial">{{tipoHistorial}}</span></div>
                          <div class="flex-c-c">{{habitacionHistorial.usuarioRegistroHabitacion.usuario}}</div>
                          <div class="flex-c-c">{{habitacionHistorial.pisoHabitacion.numeroPiso}}</div>
                          <div class="flex-c-c">{{habitacionHistorial.numeroHabitacion}}</div>
                          <div class="flex-c-c">{{habitacionHistorial.descripcionHabitacion}}</div>
                          <div class="flex-c-c">{{habitacionHistorial.categoriaHabitacion.nombreCategoriaHabitacion}}</div>
                          <div class="flex-c-c">S/ {{formatCurrency habitacionHistorial.precioHabitacion}}</div>
                          <div class="flex-c-c">{{formatDateTime habitacionHistorial.createdAt}}</div>
                        </article>
                      </div>
                    {{/each}}
                  </div>
                </div>
              </section>
            </div>
          </section>
        {{else}}
          <h5 class="items__empty">No hay historial para mostrar 😿</h5>
        {{/if}}
      </div>
    </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const $tipoHistorial = document.querySelectorAll(".tipo__historial");

    function tipoHistorial() {
      $tipoHistorial.forEach(item => {
        const estado = item.textContent;
        if (estado === "Registro") {
          item.style.backgroundColor = "#58b56d";
          item.style.color = "#fff"
        } else if (estado === "Finalización" || estado === "Finalizado" || estado === "Eliminado") {
          item.style.backgroundColor = "#ad2831";
          item.style.color = "#fff"
        }
      });
    };

    tipoHistorial();
  });
</script>