{{> back-form backUrl = "/products"}}
<section class="section__all--forms">
  <div class="container__form__container">
    <div class="container">
      <section class="section__form">
        <form action="/products/register" method="POST" class="form">
          <div class="form__content">
            <h2 class="form__title">Registrar un nuevo Producto</h2>
            <div class="form__img">
              <figure class="login__figure">
                <img src="{{logoUrl}}" alt="Logo Aprendedor" class="login__img">
              </figure>
            </div>
            <section class="form__container">
              <article class="form__group form__group--select">
                <label for="rol_trabjador" class="form__label--select">Selecciona el Proveedor:</label>
                <select name="proveedorProducto" id="proveedor_producto" class="form__input" required>
                  <option selected disabled value="">Proveedor:</option>
                  {{#each providers}}
                    <option value="{{_id}}">{{nombreProveedor}}</option>
                  {{/each}}
                </select>
                <span class="form__span--select">¿No encuentras el Proveedor? <a class="select__cta" href="/providers/register">Regístralo aquí</a></span>
              </article>
              <article class="form__group form__group--select">
                <label for="categoria_producto" class="form__label--select">Selecciona la Categoría:</label>
                <select name="categoriaProducto" id="categoria_producto" class="form__input" required>
                  <option selected disabled value="">Categoría:</option>
                  {{#each categories}}
                    <option value="{{_id}}">{{nombreCategoria}}</option>
                  {{/each}}
                </select>
                <span class="form__span--select">¿No encuentras la Categoría? <a class="select__cta" href="/categories/register">Regístralo aquí</a></span>
              </article>
              <article class="form__group">
                <input class="form__input" type="number" name="cod" id="cod_producto" placeholder=" " title="Nombre del producto" required>
                <label for="cod_producto" class="form__label">Código:</label>
                <span class="form__line"></span>
              </article>
              <article class="form__group">
                <input class="form__input" type="text" name="nombreProducto" id="nombre_producto" placeholder=" " title="Nombre del producto" required>
                <label for="nombre_producto" class="form__label">Nombre:</label>
                <span class="form__line"></span>
              </article>
              <article class="form__group">
                <textarea name="descripcionProducto" id="descripcion_producto" class="form__input form__textarea" placeholder=" " title="Descripción del producto" required></textarea>
                <label for="descripcion_producto" class="form__label">Descripción:</label>
                <span class="form__line"></span>
              </article>
              <article class="form__group">
                <input class="form__input" type="text" name="precioCompraProducto" id="precio_compra_producto" placeholder=" " title="Precio de compra del producto" required>
                <label for="precio_compra_producto" class="form__label">Precio compra:</label>
                <span class="form__line"></span>
              </article>
              <article class="form__group">
                <input class="form__input" type="text" name="precioVentaProducto" id="precio_venta_venta" placeholder=" " title="Precio de venta del producto" required>
                <label for="precio_venta_venta" class="form__label">Precio venta:</label>
                <span class="form__line"></span>
              </article>
              <article class="form__group">
                <input class="form__input" type="number" name="stockSeguridadProducto" id="stock_seguridad_producto" placeholder=" " title="Stock de seguridad del producto" required>
                <label for="stock_seguridad_producto" class="form__label">Stock seguridad:</label>
                <span class="form__line"></span>
              </article>
              <article class="form__group">
                <input class="form__input" type="number" name="stockMinimoProducto" id="stock_minimo_producto" placeholder=" " title="Stock minimo del producto" required>
                <label for="stock_minimo_producto" class="form__label">Stock minimo:</label>
                <span class="form__line"></span>
              </article>
              <button class="form__submit">Agregar</button>
            </section>
          </div>
        </form>
      </section>
    </div>
  </div>
</section>