<section class="section__all--details">
  <div class="content__views">
    <div class="container views__container">
      <div class="card__items">
        <div class="items__elements__title">
          <h5 class="items__name">Detalles de la venta: {{sale._id}}</h5>
        </div>
        {{#if sale}}
          <div class="details__container">
            <div class="sub__header">
              <div class="sub__header__container">
                <article class="sub__header__content">
                  <section class="section__sub__header">
                    <article class="article__sub__header sub__header__actions">
                      <div class="sub__header__actions__container">
                        <div class="sub__header__action">
                          <a href="/sales" class="sub__header__link">
                            <figure class="sub__header__figure">
                              <img src="/assets/icon-back.svg" alt="Icon Back" class="sub__header__img">
                            </figure>
                          </a>
                          <span class="sub__header__span">Volver</span>
                        </div>
                        <div class="sub__header__action">
                          <a href="/sales/register" class="sub__header__link">
                            <figure class="sub__header__figure">
                              <img src="/assets/icon-add.svg" alt="Icon Add" class="sub__header__img">
                            </figure>
                          </a>
                          <span class="sub__header__span">Nueva Venta</span>
                        </div>
                        <div class="sub__header__action">
                          <a href="/sales/balance" class="sub__header__link">
                            <figure class="sub__header__figure">
                              <img src="/assets/icon-balance.svg" alt="Icon Balance" class="sub__header__img">
                            </figure>
                          </a>
                          <span class="sub__header__span">Balances</span>
                        </div>
                      </div>
                    </article>
                    {{#if (or (eq sale.estadoVenta "Pendiente") (eq sale.estadoVenta "Confirmada"))}}
                      <article class="article__sub__header sub__header__buttons">
                        <div class="sub__header__buttons__container">
                          <article class="items__actions">
                            <div class="flex-c-c confirm__sales">
                              <button type="button" class="btn__cancel__sale--cancel btn__cancel--sale">Cancelar Venta</button>
                            </div>
                          </article>
                        </div>
                      </article>
                    {{/if}}
                  </section>
                </article>
              </div>
            </div>
          </div>
          <article class="article__details">
            <section class="details__header">
              <div class="details__header__container">
                <h4 class="details__header__title">General</h4>
              </div>
            </section>
            <section class="details__body">
              <div class="details__body__container">
                <div class="details__body__content">
                  <div class="cards__container cards__container--details__sale">
                    <section class="section__cards section__cards--details__sale">
                      <article class="card__content">
                        <div class="card card__info card__info__details__sale">
                          <div class="card__header">
                            <h5 class="card__title">Informaci贸n de la venta</h5>
                          </div>
                        </div>
                        <div class="card__body">
                          <div class="card__body__content">
                            <ul class="card__body__content__ul ul__details__sale">
                              <li class="content__li">
                                <span class="content__li__span">Estado</span>
                                <span class="content__li__span content__li__span--data">{{sale.estadoVenta}}</span>
                              </li>
                              <li class="content__li">
                                <span class="content__li__span">Cant Prodcts</span>
                                <span class="content__li__span content__li__span--data">{{sale.tipoProductosVenta}}</span>
                              </li>
                              <li class="content__li">
                                <span class="content__li__span">Importe</span>
                                <span class="content__li__span content__li__span--data">S/{{formatCurrency sale.precioTotalVenta}}</span>
                              </li>
                              <li class="content__li">
                                <span class="content__li__span">Descuento</span>
                                <span class="content__li__span content__li__span--data">-S/{{formatCurrency sale.descuentoTotalVenta}}</span>
                              </li>
                              <li class="content__li">
                                <span class="content__li__span">Vendedor</span>
                                <span class="content__li__span content__li__span--data">{{sale.usuarioVenta.trabajadorUsuario.nombreTrabajador}} {{sale.usuarioVenta.trabajadorUsuario.apellidosTrabajador}}</span>
                              </li>
                              <li class="content__li">
                                <span class="content__li__span">Cliente</span>
                                <span class="content__li__span content__li__span--data">{{sale.clienteVenta.nombreCliente}}</span>
                              </li>
                              <li class="content__li">
                                <span class="content__li__span">Fecha</span>
                                <span class="content__li__span content__li__span--data">{{formatDateTime sale.createdAt}}</span>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </article>
                      <article class="card__content">
                        <div class="card card__info card__info__employee--sale">
                          <div class="card__header">
                            <h5 class="card__title">Informaci贸n del Vendedor</h5>
                          </div>
                          <div class="card__body">
                            <div class="card__body__content">
                              <ul class="card__body__content__ul ul__emloyee__sale">
                                <li class="content__li">
                                  <span class="content__li__span">Documento</span>
                                  <span class="content__li__span content__li__span--data">{{sale.usuarioVenta.trabajadorUsuario.dniTrabajador}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Nombres</span>
                                  <span class="content__li__span content__li__span--data">{{sale.usuarioVenta.trabajadorUsuario.nombreTrabajador}} {{sale.usuarioVenta.trabajadorUsuario.apellidosTrabajador}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Celular</span>
                                  <span class="content__li__span content__li__span--data">{{#if sale.usuarioVenta.trabajadorUsuario.celularTrabajador}}{{sale.usuarioVenta.trabajadorUsuario.celularTrabajador}}{{else}}-{{/if}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Correo</span>
                                  <span class="content__li__span content__li__span--data">{{#if sale.usuarioVenta.trabajadorUsuario.correoTrabajador}}{{sale.usuarioVenta.trabajadorUsuario.correoTrabajador}}{{else}}-{{/if}}</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </article>
                      <article class="card__content">
                        <div class="card card__info card__info__client--sale">
                          <div class="card__header">
                            <h5 class="card__title">Informaci贸n del Cliente</h5>
                          </div>
                          <div class="card__body">
                            <div class="card__body__content">
                              <ul class="card__body__content__ul ul__client__sale">
                                <li class="content__li">
                                  <span class="content__li__span">Documento</span>
                                  <span class="content__li__span content__li__span--data">{{sale.clienteVenta.dniCliente}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Nombres</span>
                                  <span class="content__li__span content__li__span--data">{{sale.clienteVenta.nombreCliente}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Celular</span>
                                  <span class="content__li__span content__li__span--data">{{#if sale.clienteVenta.celularCliente}}{{sale.clienteVenta.celularCliente}}{{else}}-{{/if}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Correo</span>
                                  <span class="content__li__span content__li__span--data">{{#if sale.clienteVenta.correoCliente}}{{sale.clienteVenta.correoCliente}}{{else}}-{{/if}}</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </article>
                    </section>
                  </div>
                  {{#if sale.productosVenta}}
                    <div class="cards__container cards__container--products__sale">
                      <div class="section__cards__title__container">
                        <h5 class="section__cards__title">Productos</h5>
                      </div>
                      <section class="section__cards section__cards--products__sale">
                        {{#each sale.productosVenta}}
                          <article class="card__content">
                            <div class="card card__info card__info__product__sale">
                              <div class="card__header">
                                <h5 class="card__title">Producto</h5>
                              </div>
                              <div class="card__body">
                                <div class="card__body__content">
                                  <ul class="card__body__content__ul ul__product__sale">
                                    <li class="content__li">
                                      <span class="content__li__span">Codigo</span>
                                      <span class="content__li__span content__li__span--data">{{productoVenta.almacenProducto.cod}}</span>
                                    </li>
                                    <li class="content__li">
                                      <span class="content__li__span">Descripci贸n</span>
                                      <span class="content__li__span content__li__span--data">{{productoVenta.almacenProducto.descripcionProducto}}</span>
                                    </li>
                                    <li class="content__li">
                                      <span class="content__li__span">Cantidad</span>
                                      <span class="content__li__span content__li__span--data">{{cantidadVenta}}</span>
                                    </li>
                                    <li class="content__li">
                                      <span class="content__li__span">Proveedor</span>
                                      <span class="content__li__span content__li__span--data">{{productoVenta.almacenProducto.proveedorProducto.nombreProveedor}}</span>
                                    </li>
                                    <li class="content__li">
                                      <span class="content__li__span">Categoria</span>
                                      <span class="content__li__span content__li__span--data">{{productoVenta.almacenProducto.categoriaProducto.nombreCategoria}}</span>
                                    </li>
                                    <li class="content__li">
                                      <span class="content__li__span">Precio Unitario</span>
                                      <span class="content__li__span content__li__span--data">S/{{formatCurrency productoVenta.almacenProducto.precioProducto}}</span>
                                    </li>
                                    <li class="content__li">
                                      <span class="content__li__span">Descuento</span>
                                      <span class="content__li__span content__li__span--data">- S/{{formatCurrency descuentoProductoVenta}}</span>
                                    </li>
                                    <li class="content__li">
                                      <span class="content__li__span">Precio Total</span>
                                      <span class="content__li__span content__li__span--data">S/{{formatCurrency this.precioTotalProducto}}</span>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </article>
                        {{/each}}
                      </section>
                    </div>
                  {{/if}}
                </div>
              </div>
            </section>
            <section class="details__footer"></section>
          </article>
        {{else}}
          <h5 class="items__empty">No hay Ventas para mostrar </h5>
        {{/if}}
      </div>
    </div>
  </div>
</section>
<section class="modal__fixed">
  <div class="flex-c-c modal modal__cancel__sale">
    <article class="flex-c-c article__modal">
      <h5 class="modal__title">驴Desea Cancelar la Venta?</h5>
      <div class="flex-c-c modal__btns">
        <button type="button" class="btn__modal__action cancel__modal--cancel__sale">Cerrar</button>
        <a href="/sales/{{sale._id}}/cancel" class="btn__modal__action">Confirmar</a>
      </div>
      <div class="close__modal close__modal--cancel__sale">
        <figure class="close__figure">
          <img src="/assets/icon-close.svg" alt="Icon Close" class="close__img">
        </figure>
      </div>
    </article>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const $btnCancelSale = document.querySelector(".btn__cancel--sale");
    const $modalCancel = document.querySelector(".modal__cancel__sale");
    const $closeModal = document.querySelector(".close__modal--cancel__sale");


    if ($btnCancelSale){
      $btnCancelSale.addEventListener("click", function showModal(event){
        event.stopPropagation();
        $modalCancel.classList.add("modal__show");
      });

      $closeModal.addEventListener("click", function closeModal(event){
        event.stopPropagation();
        $modalCancel.classList.remove("modal__show");
      });

      $modalCancel.addEventListener("click", function closeModal(event){
        event.stopPropagation();
        $modalCancel.classList.remove("modal__show");
      });
    }



  });
</script>