<section class="section__all--views">
  <div class="content__views">
    <div class="container views__container">
      <div class="card__items">
        <div class="items__elements__title">
          <h5 class="items__name">Historial De Cierre Ventas</h5>
        </div>
        <div class="sub__header">
          <div class="sub__header__container">
            <article class="sub__header__content">
              <section class="section__sub__header">
                <article class="article__sub__header sub__header__actions">
                  <div class="sub__header__actions__container">
                    <div class="sub__header__action">
                      <a href="/sales" class="sub__header__link">
                        <figure class="sub__header__figure">
                          <img src="/assets/icon-back.svg" alt="Icon Back" class="sub__header__img">
                        </figure>
                      </a>
                      <span class="sub__header__span">Volver</span>
                    </div>
                    {{#hasPermission permisosRol "crear-venta"}}
                      <div class="sub__header__action">
                        <a href="/sales/register" class="sub__header__link">
                          <figure class="sub__header__figure">
                            <img src="/assets/icon-add.svg" alt="Icon Add" class="sub__header__img">
                          </figure>
                        </a>
                        <span class="sub__header__span">Nueva Venta</span>
                      </div>
                    {{/hasPermission}}
                    {{#hasPermission permisosRol "ver-balance"}}
                      <div class="sub__header__action">
                        <a href="/sales/balance" class="sub__header__link">
                          <figure class="sub__header__figure">
                            <img src="/assets/icon-balance.svg" alt="Icon Balance" class="sub__header__img">
                          </figure>
                        </a> 
                        <span class="sub__header__span">Balances</span>
                      </div>
                    {{/hasPermission}}
                  </div>
                </article>
              </section>
            </article>
          </div>
        </div>
        {{#if salesHistory}}
          <section class="items">
            <div class="items__container__elements">
              <section class="views__container--elements view__scrollbar">
                <div class="views__content--elements items__container sales__history">
                  <article class="items__header items__grid sales__history">
                    <div class="flex-c-c">Tipo</div>
                    <div class="flex-c-c">Hecho por</div>
                    <div class="flex-c-c">ID</div>
                    <div class="flex-c-c">Ventas</div>
                    <div class="flex-c-c">Conf</div>
                    <div class="flex-c-c">Canc</div>
                    <div class="flex-c-c">Costos</div>
                    <div class="flex-c-c">Dsctos</div>
                    <div class="flex-c-c">Importe</div>
                    <div class="flex-c-c">Ganancia</div>
                    <div class="flex-c-c">Fecha</div>
                    <div class="flex-c-c">Ver</div>
                  </article>
                  <div class="items__data--values">
                    {{#each salesHistory}}
                      <div class="container__data">
                        <article class="items__data items__grid sales__history">
                          <div class="flex-c-c">{{tipoHistorial}}</div>
                          <div class="flex-c-c">{{usuarioCierreVenta.usuario}}</div>
                          <div class="flex-c-c">{{_id}}</div>
                          <div class="flex-c-c">{{cantidadCierreVentas}}</div>
                          <div class="flex-c-c">{{totalVentasConfirmadas}}</div>
                          <div class="flex-c-c">{{totalVentasCanceladas}}</div>
                          <div class="flex-c-c">S/{{formatCurrency totalCostosVentas}}</div>
                          <div class="flex-c-c">-S/{{formatCurrency totalDescuentosVentas}}</div>
                          <div class="flex-c-c">S/{{formatCurrency totalCierreVentas}}</div>
                          <div class="flex-c-c">S/{{formatCurrency totalGananciasVentas}}</div>
                          <div class="flex-c-c">{{formatDateTime createdAt}}</div>
                          <div class="flex-c-c items__data--options">
                            {{#hasPermission ../permisosRol "ver-detalle-cierre-venta"}}
                              <a href="/sales-history/{{_id}}/detail-close-register" class="options__action">
                                <figure class="options__figure">
                                  <img src="/assets/icon-edit.svg" alt="Icon Edit" class="options__img">
                                </figure>
                                <span class="span__detail">Detalles</span>
                              </a>
                            {{/hasPermission}}
                          </div>
                        </article>
                      </div>
                    {{/each}}
                  </div>
                </div>
              </section>
            </div>
          </section>
        {{else}}
          <h5 class="items__empty">No hay Ventas para mostrar 😿</h5>
        {{/if}}
      </div>
    </div>
  </div>
</section>