<section class="voucher">
  <div class="voucher__container">
    <div class="voucher__content">
      <section class="voucher__header">
        <h4 class="voucher__title">BOLETA ELECTRÓNICA</h4>
        <h4 class="voucher__id">Serie: {{venta._id}}</h4>
      </section>
      <section class="voucher__company">
        <h4 class="voucher__company--name">RUC: {RUC_NEGOCIO}</h4>
        <h4 class="voucher__company--name">Razón Social: {NOMBRE_NEGOCIO}</h4>
      </section>
      <section class="voucher__sale--info">
        <article class="sale__info">
          <p class="sale__data">{{formatDateTime venta.createdAt}}</p>
          <p class="sale__employee">Vendedor: {{venta.usuarioVenta.trabajadorUsuario.nombreTrabajador}} {{venta.usuarioVenta.trabajadorUsuario.apellidosTrabajador}}</p>
          <p class="sale__client">Cliente: {{venta.clienteVenta.nombreCliente}}</p>
        </article>
      </section>
      <section class="voucher__sale--details">
        <article class="sale__data">
          <div class="data__header view__grid">
            <span>Descripción</span>
            <span>Cantidad</span>
            <span>Precio Unit.</span>
            <span>Descuento</span>
            <span>Precio con Dscto.</span>
            <span>Total</span>
          </div>
          <div class="data__body view__grid">
            <span class="descripcion">{{sale.productosVenta.almacenProducto.descripcionProducto}}</span>
            <span class="cantidad">{{sale.cantidadVenta}}</span>
            <span class="precio">{{sale.productosVenta.almacenProducto.precioProducto}}</span>
            <span class="descuento">S/{{formatCurrency 0}}</span>
            <span class="precio__descuento">S/{{formatCurrency sale.precioTotalVenta}}</span>
            <span class="total">S/{{formatCurrency sale.precioTotalVenta}}</span>
          </div>
        </article>
      </section>
    </div>
  </div>
</section>