{{> back-form backUrl = "/store-hotel"}}
<section class="section__all--forms">
  <div class="container__form__container">
    <div class="container">
      <section class="section__form">
        <form action="/store-hotel/register" method="POST" class="form">
          <div class="form__content">
            <h2 class="form__title">Agregar producto</h2>
            <div class="form__img">
              <figure class="login__figure">
                <img src="{{logoUrl}}" alt="Logo Aprendedor" class="login__img">
              </figure>
            </div>
            <section class="form__container">
              <article class="form__group form__group--select">
                <label for="producto_almacen_hotel" class="form__label--select">Selecciona el producto:</label>
                <select name="productoAlmacenHotel" id="producto_almacen_hotel" class="form__input" required>
                  <option selected disabled value="">Producto:</option>
                  {{#each products}}
                    <option value="{{_id}}">{{cod}}/{{nombreProducto}} / {{proveedorProducto.nombreProveedor}}</option>
                  {{/each}}
                </select>
                <span class="form__span--select">¿No encuentras el Producto? <a class="select__cta" href="/products/register">Regístralo aquí</a></span>
              </article>
              <article class="form__group">
                <input class="form__input" type="number" name="stockProductoAlmacenHotel" id="almacen_stock" placeholder=" " title="Stock entrante" required>
                <label for="almacen_stock" class="form__label">Stock entrante:</label>
                <span class="form__line"></span>
              </article>
              <article class="form__group">
                <input class="form__input" type="number" name="minStockProductoAlmacenHotel" id="almacen_min_stock" placeholder=" " title="Mínimo Stock" required>
                <label for="almacen_min_stock" class="form__label">Minimo Stock:</label>
                <span class="form__line"></span>
              </article>
              <button class="form__submit">Agregar</button>
            </section>
          </div>
        </form>
      </section>
    </div>
  </div>
</section>