<section class="section__all--views">
  <div class="content__views">
    <div class="container views__container">
      <div class="card__items">
        <div class="items__elements__title">
          <h5 class="items__name">Historial de ventas a las habitaciones</h5>
        </div>
        <div class="sub__header">
          <div class="sub__header__container">
            <article class="sub__header__content">
              <section class="section__sub__header">
                <article class="article__sub__header sub__header__actions">
                  <div class="sub__header__actions__container">
                    <div class="sub__header__action">
                      <a href="/hotel/sales" class="sub__header__link">
                        <figure class="sub__header__figure">
                          <img src="/assets/icon-back.svg" alt="Icon Back" class="sub__header__img">
                        </figure>
                      </a>
                      <span class="sub__header__span">Volver</span>
                    </div>
                  </div>
                </article>
              </section>
            </article>
          </div>
        </div>
        {{#if salesHotelHistory}}
          <section class="items">
            <div class="items__container__elements">
              <section class="views__container--elements view__scrollbar">
                <div class="views__content--elements items__container sales__hotel__history">
                  <article class="items__header items__grid sales__hotel__history">
                    <div class="flex-c-c">Tipo Registro</div>
                    <div class="flex-c-c">Usuario</div>
                    <div class="flex-c-c">ID Cierre</div>
                    <div class="flex-c-c">Ventas</div>
                    <div class="flex-c-c">V. Conf</div>
                    <div class="flex-c-c">V. Canc</div>
                    <div class="flex-c-c">Dsctos</div>
                    <div class="flex-c-c">Balances</div>
                    <div class="flex-c-c">Fecha</div>
                    <div class="flex-c-c">Ver</div>
                  </article>
                  <div class="items__data--values" id="data-container">
                    {{#each salesHotelHistory}}
                      <div class="container__data">
                        <article class="items__data items__grid sales__hotel__history">
                          <div class="flex-c-c">{{tipoHistorial}}</div>
                          <div class="flex-c-c">{{usuarioCheckOutCierreVenta.usuario}}</div>
                          <div class="flex-c-c">{{_id}}</div>
                          <div class="flex-c-c">{{cantidadCierreVentasHotel}}</div>
                          <div class="flex-c-c">{{#if cantidadVentasConfirmadasHotel}}{{cantidadVentasConfirmadasHotel}}{{else}}-{{/if}}</div>
                          <div class="flex-c-c">{{#if cantidadVentasCanceladasHotel}}{{cantidadVentasCanceladasHotel}}{{else}}-{{/if}}</div>
                          <div class="flex-c-c">-S/{{formatCurrency totalDescuentosVentasHotel}}</div>
                          <div class="flex-c-c">S/{{formatCurrency importeTotalCierreVentasHotel}}</div>
                          <div class="flex-c-c">{{formatDateTime createdAt}}</div>
                          <div class="flex-c-c items__data--options">
                            {{#hasPermission ../permisosRol "ver-detalle-historial-venta-hotel"}}
                              <a href="/hotel/sales/history/{{_id}}/details" class="options__action">
                                <figure class="options__figure">
                                  <img src="/assets/icon-edit.svg" alt="Icon Details" class="options__img">
                                </figure>
                                <span class="span__detail">Detalles</span>
                              </a>
                            {{/hasPermission}}
                          </div>
                        </article>
                      </div>
                    {{/each}}
                  </div>
                </div>
              </section>
            </div>
          </section>
        {{else}}
          <h5 class="items__empty">No hay historial de ventas a las habitaciones 😿</h5>
        {{/if}}
      </div>
    </div>
  </div>
</section>