<div class="sub__header sub__header--fixed">
  <div class="sub__header__container">
    <article class="sub__header__content">
      <section class="section__sub__header">
        <article class="article__sub__header sub__header__actions">
          <div class="sub__header__actions__container">
            <div class="sub__header__action">
              <a href="/rooms-hotel" class="sub__header__link">
                <figure class="sub__header__action__figure">
                  <img src="/assets/icon-back.svg" alt="Icon Back" class="sub__header__action__img">
                </figure>
              </a>
              <span class="sub__header__span">Volver</span>
            </div>
          </div>
        </article>
      </section>
    </article>
  </div>
</div>
<section class="section__all--forms">
  <div class="container__form__container">
    <div class="container">
      <section class="section__form">
        <form action="/rooms-hotel/{{roomHotel._id}}/edit" method="POST" class="form">
          <div class="form__content">
            <h2 class="form__title">Editar Habitaci贸n</h2>
            <div class="form__img">
              <figure class="login__figure">
                <img src="/assets/logo-aprendedor.webp" alt="Logo Aprendedor" class="login__img">
              </figure>
            </div>
            <section class="form__container">
              <article class="form__group form__group--select">
                <label for="edit_habitacion_hotel" class="form__label--select">Selecciona la Habitaci贸n:</label>
                <select name="habitacionHotel" id="edit_habitacion_hotel" class="form__input" required>
                  <option selected disabled value="">Habitaci贸n:</option>
                  {{#each rooms}}
                    <option value="{{_id}}" {{#if (eq ../roomHotel.habitacionHotel._id _id)}} selected{{/if}}>{{numeroHabitacion}} - {{categoriaHabitacion.nombreCategoriaHabitacion}}</option>
                  {{/each}}
                </select>
              </article>
              <article class="form__group">
                <input type="number" class="form__input" name="precioHabitacionHotel" id="edit_precio_habitacion_hotel" placeholder=" " title="Precio de la habitaci贸n" value="{{roomHotel.precioHabitacionHotel}}" required>
                <label for="edit_precio_habitacion_hotel" class="form__label">Precio:</label>
                <span class="form__line"></span>
              </article>
              <article class="form__group form__group--select">
                <label for="edit_estado_habitacion" class="form__label--select">Selecciona el Estado:</label>
                <select name="estadoHabitacionHotel" id="edit_estado_habitacion" class="form__input" required>
                  <option selected disabled value="">Estado:</option>
                  {{#each statusRooms}}
                    <option value="{{_id}}" {{#if (eq ../roomHotel.estadoHabitacionHotel._id _id)}} selected{{/if}}>{{nombreEstadoHabitacion}}</option>
                  {{/each}}
                </select>
              </article>
              <button class="form__submit">Actualizar</button>
            </section>
          </div>
        </form>
      </section>
    </div>
  </div>
</section>