<section class="section__all--views">
  <div class="content__views">
    <div class="container views__container">
      <div class="card__items">
        <div class="items__elements__title">
          <h5 class="items__name">Historial de Habitaciones</h5>
        </div>
        <div class="sub__header">
          <div class="sub__header__container">
            <article class="sub__header__content">
              <section class="section__sub__header">
                <article class="article__sub__header sub__header__actions">
                  <div class="sub__header__actions__container">
                    <div class="sub__header__action">
                      <a href="/rooms-hotel" class="sub__header__link">
                        <figure class="sub__header__action__figure">
                          <img src="/assets/icon-back.svg" alt="Icon Back" class="sub__header__action__img">
                        </figure>
                      </a>
                      <span class="sub__header__span">Volver</span>
                    </div>
                    <div class="sub__header__action">
                      <a href="/rooms-hotel/register" class="sub__header__link">
                        <figure class="sub__header__action__figure">
                          <img src="/assets/icon-add.svg" alt="Icon Add" class="sub__header__action__img">
                        </figure>
                      </a>
                      <span class="sub__header__span">Agregar Habitaci贸n</span>
                    </div>
                  </div>
                </article>
              </section>
            </article>
          </div>
        </div>
        {{#if roomsHotelHistory}}
          <section class="items">
            <div class="items__container__elements">
              <section class="views__container--elements view__scrollbar">
                <div class="views__content--elements items__container rooms__hotel__history">
                  <article class="items__header items__grid rooms__hotel__history">
                    <div class="flex-c-c">Tipo de Registro:</div>
                    <div class="flex-c-c">Registrado por:</div>
                    <div class="flex-c-c">Habitaci贸n:</div>
                    <div class="flex-c-c">Descripci贸n:</div>
                    <div class="flex-c-c">Categor铆a:</div>
                    <div class="flex-c-c">Precio:</div>
                    <div class="flex-c-c">Estado:</div>
                    <div class="flex-c-c">Fecha Registro:</div>
                    <div class="flex-c-c">Fecha Modificaci贸n:</div>
                  </article>
                  <div class="items__data--values">
                    {{#each roomsHotelHistory}}
                      <div class="container__data">
                        <article class="items__data items__grid rooms__hotel__history">
                          <div class="flex-c-c">{{tipoHistorial}}</div>
                          <div class="flex-c-c">{{habitacionHotelHistorial.usuarioRegistroHabitacionHotel.usuario}}</div>
                          <div class="flex-c-c">{{habitacionHotelHistorial.habitacionHotel.numeroHabitacion}}</div>
                          <div class="flex-c-c">{{habitacionHotelHistorial.habitacionHotel.descripcionHabitacion}}</div>
                          <div class="flex-c-c">{{habitacionHotelHistorial.habitacionHotel.categoriaHabitacion.nombreCategoriaHabitacion}}</div>
                          <div class="flex-c-c">S/{{formatCurrency habitacionHotelHistorial.precioHabitacion}}</div>
                          <div class="flex-c-c"><span class="span__data__item status__room">{{habitacionHotelHistorial.estadoHabitacionHotel.nombreEstadoHabitacion}}</span></div>
                          <div class="flex-c-c">{{formatDateTime createdAt}}</div>
                          <div class="flex-c-c">{{formatDateTime updatedAt}}</div>
                        </article>
                      </div>
                    {{/each}}
                  </div>
                </div>
              </section>
            </div>
          </section>
        {{else}}
          <h5 class="items__empty">No hay historial para mostrar </h5>
        {{/if}}
      </div>
    </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const $statusRoom = document.querySelectorAll(".status__room");

    function statusRoom() {
      $statusRoom.forEach(item => {
        const estado = item.textContent;
        if (estado === "Disponible") {
          item.style.backgroundColor = "#58b56d";
          item.style.color = "#fff"
        } else if (estado === "Ocupado") {
          item.style.backgroundColor = "#fb5607";
          item.style.color = "#fff"
        } else if (estado === "Reservado") {
          item.style.backgroundColor = "#1b263b";
          item.style.color = "#fff"
        } else if (estado === "En Limpieza") {
          item.style.backgroundColor = "#ffbd00";
          item.style.color = "#fff"
        } else if (estado === "En Mantenimiento") {
          item.style.backgroundColor = "#ad2831";
          item.style.color = "#fff"
        }
      });
    };
    statusRoom();
  });
</script>