<section class="section__all--details">
  <div class="content__views">
    <div class="container views__container">
      <div class="card__items">
        <div class="items__elements__title">
          <h5 class="items__name">Detalles de la ocupaci贸n en la habitaci贸n:
            {{reservation.habitacionReserva.numeroHabitacion}}</h5>
        </div>
        {{#if reservation}}
          <div class="details__container">
            <div class="sub__header sub__header--fixed">
              <div class="sub__header__container">
                <article class="sub__header__content">
                  <section class="section__sub__header">
                    <article class="article__sub__header sub__header__actions">
                      <div class="sub__header__actions__container">
                        <div class="sub__header__action">
                          <a href="/" class="sub__header__link">
                            <figure class="sub__header__figure">
                              <img src="/assets/icon-back.svg" alt="Icon Back" class="sub__header__img">
                            </figure>
                          </a>
                          <span class="sub__header__span">Volver</span>
                        </div>
                      </div>
                    </article>
                  </section>
                </article>
              </div>
            </div>
            <article class="article__details">
              <section class="details__header">
                <div class="details__header__container">
                  <h4 class="details__header__title">Informaci贸n general</h4>
                </div>
              </section>
              <section class="details__body">
                <div class="details__body__container">
                  <div class="details__body__content">
                    <div class="cards__container cards__container--hotel">
                      <article class="card__content">
                        <div class="card card__info card__info__general">
                          <div class="card__header">
                            <h5 class="card__title">Informaci贸n de la Actividad</h5>
                          </div>
                          <div class="card__body">
                            <div class="card__body__content">
                              <ul class="card__body__content__ul">
                                <li class="content__li">
                                  <span class="content__li__span">Usuario a cargo:</span>
                                  <span class="content__li__span content__li__span--data">{{reservation.usuarioReserva.usuario}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Cliente:</span>
                                  <span class="content__li__span content__li__span--data">{{reservation.nombreClienteReserva}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Habitaci贸n:</span>
                                  <span class="content__li__span content__li__span--data">{{reservation.habitacionReserva.numeroHabitacion}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Fecha de inicio:</span>
                                  <span class="content__li__span content__li__span--data">{{formatDateTime reservation.fechaInicioReserva}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Fecha de fin:</span>
                                  <span class="content__li__span content__li__span--data">{{formatDateTime reservation.fechaFinReserva}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Cantidad de noches:</span>
                                  <span class="content__li__span content__li__span--data">{{reservation.nochesReserva}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Precio por noche:</span>
                                  <span class="content__li__span content__li__span--data">S/{{formatCurrency reservation.habitacionReserva.precioHabitacion}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Importe Total:</span>
                                  <span class="content__li__span content__li__span--data">S/{{formatCurrency reservation.importeReserva}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Adelanto:</span>
                                  <span class="content__li__span content__li__span--data">S/{{formatCurrency reservation.adelantoReserva}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Restante:</span>
                                  <span class="content__li__span content__li__span--data">S/{{formatCurrency reservation.restanteReserva}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Observaciones:</span>
                                  <span class="content__li__span content__li__span--data">{{reservation.observacionesReserva}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Estado:</span>
                                  <span class="content__li__span content__li__span--data">{{reservation.estadoReserva}}</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </article>
                      <article class="card__content">
                        <div class="card card__info card__info__room">
                          <div class="card__header">
                            <h5 class="card__title">Informaci贸n de la Habitaci贸n</h5>
                          </div>
                          <div class="card__body">
                            <div class="card__body__content">
                              <ul class="card__body__content__ul">
                                <li class="content__li">
                                  <span class="content__li__span">Piso:</span>
                                  <span class="content__li__span content__li__span--data">{{reservation.habitacionReserva.pisoHabitacion.numeroPiso}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">N煤mero:</span>
                                  <span class="content__li__span content__li__span--data">{{reservation.habitacionReserva.numeroHabitacion}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Descripci贸n:</span>
                                  <span class="content__li__span content__li__span--data">{{reservation.habitacionReserva.descripcionHabitacion}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Categor铆a:</span>
                                  <span class="content__li__span content__li__span--data">{{reservation.habitacionReserva.categoriaHabitacion.nombreCategoriaHabitacion}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Descripci贸n Categor铆a:</span>
                                  <span class="content__li__span content__li__span--data">{{reservation.habitacionReserva.categoriaHabitacion.descripcionCategoriaHabitacion}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Precio por d铆a:</span>
                                  <span class="content__li__span content__li__span--data">S/{{formatCurrency reservation.habitacionReserva.precioHabitacion}}</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </article>
                      <article class="card__content">
                        <div class="card card__info card__info__client">
                          <div class="card__header">
                            <h5 class="card__title">Informaci贸n del Cliente</h5>
                          </div>
                          <div class="card__body">
                            <div class="card__body__content">
                              <ul class="card__body__content__ul">
                                <li class="content__li">
                                  <span class="content__li__span">Documento:</span>
                                  <span class="content__li__span content__li__span--data">{{reservation.dniClienteReserva}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Nombres:</span>
                                  <span class="content__li__span content__li__span--data">{{reservation.nombreClienteReserva}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Celular:</span>
                                  <span class="content__li__span content__li__span--data">{{#if reservation.celularClienteReserva}}{{reservation.celularClienteReserva}}{{else}}-{{/if}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Correo:</span>
                                  <span class="content__li__span content__li__span--data">{{#if reservation.correoClienteReserva}}{{reservation.correoClienteReserva}}{{else}}-{{/if}}</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </article>
                      <article class="card__content">
                        <div class="card card__info card__info__employee">
                          <div class="card__header">
                            <h5 class="card__title">Informaci贸n del Trabajador</h5>
                          </div>
                          <div class="card__body">
                            <div class="card__body__content">
                              <ul class="card__body__content__ul">
                                <li class="content__li">
                                  <span class="content__li__span">Documento:</span>
                                  <span class="content__li__span content__li__span--data">{{reservation.usuarioReserva.trabajadorUsuario.dniTrabajador}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Nombres:</span>
                                  <span class="content__li__span content__li__span--data">{{reservation.usuarioReserva.trabajadorUsuario.nombreTrabajador}} {{reservation.usuarioRegistroReserva.trabajadorUsuario.apellidosTrabajador}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Celular:</span>
                                  <span class="content__li__span content__li__span--data">{{reservation.usuarioReserva.trabajadorUsuario.celularTrabajador}}</span>
                                </li>
                                <li class="content__li">
                                  <span class="content__li__span">Correo:</span>
                                  <span class="content__li__span content__li__span--data">{{reservation.usuarioReserva.trabajadorUsuario.correoTrabajador}}</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </article>
                      <article class="card__content">
                        <div class="card card__info card__info__clean__room">
                          <div class="card__header">
                            <h5 class="card__title">Informaci贸n de Limpieza a la habitaci贸n</h5>
                          </div>
                          {{#if cleaningRoom}}
                            <div class="card__body">
                              <div class="card__body__content">
                                <ul class="card__body__content__ul ul__clean__room">
                                  <li class="content__li">
                                    <span class="content__li__span">Usuario a cargo</span>
                                    <span class="content__li__span content__li__span--data">{{cleaningRoom.usuarioACargoLimpieza.trabajadorUsuario.nombreTrabajador}} {{cleaningRoom.usuarioACargoLimpieza.trabajadorUsuario.apellidosTrabajador}}</span>
                                  </li>
                                  <li class="content__li">
                                    <span class="content__li__span">Comentarios</span>
                                    <span class="content__li__span content__li__span--data">{{cleaningRoom.comentariosLimpieza}}</span>
                                  </li>
                                  <li class="content__li">
                                    <span class="content__li__span">Fecha de inicio</span>
                                    <span class="content__li__span content__li__span--data">{{formatDateTime cleaningRoom.createdAt}}</span>
                                  </li>
                                  <li class="content__li">
                                    <span class="content__li__span">Fecha de fin</span>
                                    {{#if cleaningRoom.fechaFinLimpieza}}
                                      <span class="content__li__span content__li__span--data">{{formatDateTime cleaningRoom.fechaFinLimpieza}}</span>
                                    {{else}}
                                      <span class="content__li__span content__li__span--data">Sin fecha</span>
                                    {{/if}}
                                  </li>
                                </ul>
                              </div>
                            </div>
                          {{else}}
                            <span class="items__empty">No hay limpieza a la habitaci贸n</span>
                          {{/if}}
                        </div>
                      </article>
                      <article class="card__content">
                        <div class="card card__info card__info__sale__room">
                          <div class="card__header">
                            <h4 class="card__title">Informaci贸n de servicio a la habitaci贸n</h4>
                          </div>
                          {{#if saleReservation}}
                            <div class="card__body">
                              <div class="card__body__content card__body__content--sale__room">
                                {{#each saleReservation}}
                                  <div class="container__sales__room">
                                    <div class="card__body__subtitle">
                                      <h5 class="card__title">Venta:
                                        <span class="span__card__title">{{_id}}</span>
                                      </h5>
                                    </div>
                                    <ul class="card__body__content__ul ul__sale__room">
                                      <li class="content__li">
                                        <span class="content__li__span">Cantidad:</span>
                                        <span class="content__li__span content__li__span--data">{{cantidadProductosVentaHotel}}</span>
                                      </li>
                                      <li class="content__li">
                                        <span class="content__li__span">Precio:</span>
                                        <span class="content__li__span content__li__span--data">S/{{formatCurrency precioTotalVentaHotel}}</span>
                                      </li>
                                      <li class="content__li">
                                        <span class="content__li__span">Descuento:</span>
                                        <span class="content__li__span content__li__span--data">S/{{formatCurrency descuentoTotalVentaHotel}}</span>
                                      </li>
                                      <li class="content__li">
                                        <span class="content__li__span">Adelanto:</span>
                                        <span class="content__li__span content__li__span--data">S/{{formatCurrency pagoAdelantoVentaHotel}}</span>
                                      </li>
                                      <li class="content__li">
                                        <span class="content__li__span">Comentarios:</span>
                                        <span class="content__li__span content__li__span--data">{{comentariosVentaHotel}}</span>
                                      </li>
                                      <li class="content__li">
                                        <span class="content__li__span">Restante:</span>
                                        <span class="content__li__span content__li__span--data">S/{{formatCurrency pagoRestanteVentaHotel}}</span>
                                    </ul>
                                    <div class="flex-c-c content__details__sale content__details__sale--room">
                                      <button type="button" class="details__sale__button detail__btn--sale__details" data-sale-id="{{_id}}">Detalles</button>
                                    </div>
                                  </div>
                                  <section class="modal__fixed" data-sale-id="{{_id}}">
                                    <div class="flex-c-c modal modal__sale__products__details">
                                      <article class="article__modal article__modal__details">
                                        <h5 class="modal__title">Productos de la venta:
                                          <span class="span__card__title">{{../_id}}</span>
                                        </h5>
                                        <div class="modal__details__products">
                                          {{#each productosVentaHotel}}
                                            <ul class="details__products__ul">
                                              <li class="content__li">
                                                <span class="content__li__span">Descripci贸n:</span>
                                                <span class="content__li__span content__li__span--data">{{productoVentaHotel.productoAlmacenHotel.descripcionProducto}}</span>
                                              </li>
                                              <li class="content__li">
                                                <span class="content__li__span">Precio:</span>
                                                <span class="content__li__span content__li__span--data">S/{{formatCurrency productoVentaHotel.productoAlmacenHotel.precioProducto}}</span>
                                              </li>
                                              <li class="content__li">
                                                <span class="content__li__span">Cantidad:</span>
                                                <span class="content__li__span content__li__span--data">{{cantidadVentaHotel}}</span>
                                              </li>
                                              <li class="content__li">
                                                <span class="content__li__span">Descuento:</span>
                                                <span class="content__li__span content__li__span--data">-S/{{formatCurrency descuentoProductoVentaHotel}}</span>
                                              </li>
                                              <li class="content__li">
                                                <span class="content__li__span">Importe Producto:</span>
                                                <span class="content__li__span content__li__span--data">S/{{formatCurrency precioTotalProductoVentaHotel}}</span>
                                              </li>
                                            </ul>
                                          {{/each}}
                                        </div>
                                        <div class="close__modal close__modal--details__sale">
                                          <figure class="close__figure">
                                            <img src="/assets/icon-close.svg" alt="Icon Close" class="close__img">
                                          </figure>
                                        </div>
                                      </article>
                                    </div>
                                  </section>
                                {{/each}}
                              </div>
                            </div>
                          {{else}}
                            <span class="items__empty">No hay servicio a la habitaci贸n</span>
                          {{/if}}
                        </div>
                      </article>
                    </div>
                  </div>
                </div>
              </section>
              <section class="details__footer">
                <div class="details__footer__container">
                  <div class="details__btns">
                    {{#if (or (eq reservation.estadoReserva "Proxima") (eq reservation.estadoReserva "Tardada"))}}
                      {{#hasPermission permisosRol "ingresar-huesped"}}
                        <button type="button" class="details__btn detail__btn--entering">Ingreso Hu茅sped</button>
                      {{/hasPermission}}
                    {{/if}}
                    {{#unless cleaningComplete}}
                      {{#if (eq reservation.estadoReserva "Limpieza Intermedia")}}
                        {{#hasPermission permisosRol "limpieza-reserva"}}
                          <button type="button" class="details__btn detail__btn--clean__fin">Fin Limpieza</button>
                        {{/hasPermission}}
                      {{else}}
                        {{#if (eq reservation.estadoReserva "Ocupada")}}
                          {{#hasPermission permisosRol "limpieza-reserva"}}
                            <button type="button" class="details__btn detail__btn--clean">Limpieza intermedia</button>
                          {{/hasPermission}}
                        {{/if}}
                      {{/if}}
                    {{/unless}}
                    {{#if (or (eq reservation.estadoReserva "Ocupada") (eq reservation.estadoReserva "Limpieza Intermedia"))}}
                      {{#hasPermission permisosRol "venta-reserva"}}
                        <button type="button" class="details__btn detail__btn--sale">Vender</button>
                      {{/hasPermission}}
                      {{#hasPermission permisosRol "finalizar-reserva"}}
                        <button type="button" class="details__btn detail__btn--finalize">CheckOut</button>
                      {{/hasPermission}}
                      {{#hasPermission permisosRol "editar-reserva"}}
                        <button type="button" class="details__btn detail__btn--edit">Modificar</button>
                      {{/hasPermission}}
                    {{else}}
                      {{#hasPermission permisosRol "cancelar-reserva"}}
                        <button type="button" class="details__btn detail__btn--cancel__reservation">Cancelar</button>
                      {{/hasPermission}}
                    {{/if}}
                  </div>
                </div>
              </section>
            </article>
          </div>
        {{else}}
          <h5 class="items__empty">No hay Ocupaci贸n para mostrar </h5>
        {{/if}}
      </div>
    </div>
  </div>
</section>
<section class="modal__fixed">
  <div class="flex-c-c modal modal__clean__room">
    <article class="flex-c-c article__modal">
      <h5 class="modal__title">驴Hacer limpieza intermedia?</h5>
      <div class="flex-c-c modal__btns">
        <button type="button" class="btn__modal__action btn__modal__action--cancelar cancel__modal--clean">Cancelar</button>
        <a href="/reservation/{{reservation._id}}/clean" class="btn__modal__action confirm__modal--clean">Limpieza</a>
      </div>
      <div class="close__modal close__modal--clean">
        <figure class="close__figure">
          <img src="/assets/icon-close.svg" alt="Icon Close" class="close__img">
        </figure>
      </div>
    </article>
  </div>
</section>
<section class="modal__fixed">
  <div class="flex-c-c modal modal__clean__fin__room">
    <article class="flex-c-c article__modal">
      <h5 class="modal__title">驴Finalizar limpieza intermedia?</h5>
      <div class="flex-c-c modal__btns">
        <button type="button" class="btn__modal__action btn__modal__action--cancelar cancel__modal--clean__fin">Cancelar</button>
        <a href="/reservation/{{reservation._id}}/clean/finalize" class="btn__modal__action confirm__modal--clean__fin">Finalizar</a>
      </div>
      <div class="close__modal close__modal--clean__fin">
        <figure class="close__figure">
          <img src="/assets/icon-close.svg" alt="Icon Close" class="close__img">
        </figure>
      </div>
    </article>
  </div>
</section>
<section class="modal__fixed">
  <div class="flex-c-c modal modal__edit__reservation">
    <article class="flex-c-c article__modal">
      <h5 class="modal__title">驴Editar reserva?</h5>
      <div class="flex-c-c modal__btns">
        <button type="button" class="btn__modal__action btn__modal__action--cancelar cancel__modal--edit">Cancelar</button>
        <a href="/reservation/{{reservation._id}}/edit" class="btn__modal__action confirm__modal--edit">Editar</a>
      </div>
      <div class="close__modal close__modal--edit">
        <figure class="close__figure">
          <img src="/assets/icon-close.svg" alt="Icon Close" class="close__img">
        </figure>
      </div>
    </article>
  </div>
</section>
<section class="modal__fixed">
  <div class="flex-c-c modal modal__sale__room">
    <article class="flex-c-c article__modal">
      <h5 class="modal__title">驴Vender producto a la habitaci贸n?</h5>
      <div class="flex-c-c modal__btns">
        <button type="button" class="btn__modal__action cancel__modal--sale">Cancelar</button>
        <a href="/reservation/{{reservation._id}}/sale" class="btn__modal__action confirm__modal--sale">Vender</a>
      </div>
      <div class="close__modal close__modal--sale">
        <figure class="close__figure">
          <img src="/assets/icon-close.svg" alt="Icon Close" class="close__img">
        </figure>
      </div>
    </article>
  </div>
</section>
<section class="modal__fixed">
  <div class="flex-c-c modal modal__reservation__finalize">
    <article class="flex-c-c article__modal">
      <h5 class="modal__title">驴Hacer checkout?</h5>
      <div class="flex-c-c modal__btns">
        <button type="button" class="btn__modal__action cancel__modal--finalize">Cancelar</button>
        <a href="/reservation/{{reservation._id}}/checkout" class="btn__modal__action confirm__modal--finalize">Confirmar</a>
      </div>
      <div class="close__modal close__modal--finalize">
        <figure class="close__figure">
          <img src="/assets/icon-close.svg" alt="Icon Close" class="close__img">
        </figure>
      </div>
    </article>
  </div>
</section>
<section class="modal__fixed">
  <div class="flex-c-c modal modal__reservation__cancel">
    <article class="flex-c-c article__modal">
      <h5 class="modal__title">驴Desea cancelar reserva?</h5>
      <div class="flex-c-c modal__btns">
        <button type="button" class="btn__modal__action cancel__modal--cancel">Cerrar</button>
        <a href="/reservation/{{reservation._id}}/cancel" class="btn__modal__action confirm__modal--cancel">Anular reserva</a>
      </div>
      <div class="close__modal close__modal--cancel">
        <figure class="close__figure">
          <img src="/assets/icon-close.svg" alt="Icon Close" class="close__img">
        </figure>
      </div>
    </article>
  </div>
</section>
<section class="modal__fixed">
  <div class="flex-c-c modal modal__reservation__entering">
    <article class="flex-c-c article__modal">
      <h5 class="modal__title">驴Confirmar ingreso del Hu茅sped?</h5>
      <div class="flex-c-c modal__btns">
        <button type="button" class="btn__modal__action cancel__modal--entering">Cancelar</button>
        <a href="/reservation/{{reservation._id}}/entering" class="btn__modal__action confirm__modal--entering">Confirmar</a>
      </div>
      <div class="close__modal close__modal--entering">
        <figure class="close__figure">
          <img src="/assets/icon-close.svg" alt="Icon Close" class="close__img">
        </figure>
      </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const $btnModalFinalize = document.querySelector(".detail__btn--finalize");
    const $btnModalClean = document.querySelector(".detail__btn--clean");
    const $btnModalEdit = document.querySelector(".detail__btn--edit");
    const $btnModalSale = document.querySelector(".detail__btn--sale");
    const $btnModalCleanFin = document.querySelector(".detail__btn--clean__fin");
    const $btnModalEntering = document.querySelector(".detail__btn--entering");
    const $btnModalCancelReservation = document.querySelector(".detail__btn--cancel__reservation");

    const $btnsModalSaleDetails = document.querySelectorAll(".detail__btn--sale__details");

    const $modalFinalize = document.querySelector(".modal__reservation__finalize");
    const $modalClean = document.querySelector(".modal__clean__room");
    const $modalEdit = document.querySelector(".modal__edit__reservation");
    const $modalSale = document.querySelector(".modal__sale__room");
    const $modalCleanFin = document.querySelector(".modal__clean__fin__room");
    const $modalEntering = document.querySelector(".modal__reservation__entering");
    const $modalCancelReservation = document.querySelector(".modal__reservation__cancel");

    const $cancelFinalize = document.querySelector(".cancel__modal--finalize");
    const $cancelClean = document.querySelector(".cancel__modal--clean");
    const $cancelEdit = document.querySelector(".cancel__modal--edit");
    const $cancelSale = document.querySelector(".cancel__modal--sale");
    const $cancelCleanFin = document.querySelector(".cancel__modal--clean__fin");
    const $cancelEntering = document.querySelector(".cancel__modal--entering");
    const $cancelCancelReservation = document.querySelector(".cancel__modal--cancel");

    const $modalCloseFinalize = document.querySelector(".close__modal--finalize");
    const $modalCloseClean = document.querySelector(".close__modal--clean");
    const $modalCloseEdit = document.querySelector(".close__modal--edit");
    const $modalCloseSale = document.querySelector(".close__modal--sale");
    const $modalCloseCleanFin = document.querySelector(".close__modal--clean__fin");
    const $modalCloseEntering = document.querySelector(".close__modal--entering");
    const $modalCloseCancelReservation = document.querySelector(".close__modal--cancel");

    // Funciones para mostrar y cerrar modales
    function showModalFinalize(e){
      e.stopPropagation();
      $modalFinalize.classList.add("modal__show");
    }

    function showModalClean(e){
      e.stopPropagation();
      $modalClean.classList.add("modal__show");
    }

    function showModalEdit(e){
      e.stopPropagation();
      $modalEdit.classList.add("modal__show");
    }

    function showModalSale(e){
      e.stopPropagation();
      $modalSale.classList.add("modal__show");
    }

    function showModalCleanFin(e){
      e.stopPropagation();
      $modalCleanFin.classList.add("modal__show");
    }

    function showModalEntering(e){
      e.stopPropagation();
      $modalEntering.classList.add("modal__show");
    }

    function showModalCancelReservation(e){
      e.stopPropagation();
      $modalCancelReservation.classList.add("modal__show");
    }

    function showModalSaleDetails(e){
      e.stopPropagation();
      const saleId = e.target.dataset.saleId;
      const $modalSaleDetails = document.querySelector(`.modal__fixed[data-sale-id="${saleId}"] .modal__sale__products__details`);
      if ($modalSaleDetails) {
        $modalSaleDetails.classList.add("modal__show");
      }
    }

    function closeModalFinalize(e){
      e.stopPropagation();
      $modalFinalize.classList.remove("modal__show");
    }

    function closeModalClean(e){
      e.stopPropagation();
      $modalClean.classList.remove("modal__show");
    }

    function closeModalEdit(e){
      e.stopPropagation();
      $modalEdit.classList.remove("modal__show");
    }

    function closeModalSale(e){
      e.stopPropagation();
      $modalSale.classList.remove("modal__show");
    }

    function closeModalCleanFin(e){
      e.stopPropagation();
      $modalCleanFin.classList.remove("modal__show");
    }

    function closeModalEntering(e){
      e.stopPropagation();
      $modalEntering.classList.remove("modal__show");
    }

    function closeModalCancelReservation(e){
      e.stopPropagation();
      $modalCancelReservation.classList.remove("modal__show");
    }

    function closeModalSaleDetails(e){
      e.stopPropagation();
      const saleId = e.target.closest(".modal__fixed").dataset.saleId;
      const $modalSaleDetails = document.querySelector(`.modal__fixed[data-sale-id="${saleId}"] .modal__sale__products__details`);
      if ($modalSaleDetails) {
        $modalSaleDetails.classList.remove("modal__show");
      }
    }

    if ($btnModalCleanFin) {
      $btnModalCleanFin.addEventListener("click", showModalCleanFin);
      $cancelCleanFin.addEventListener("click", closeModalCleanFin);
      $modalCloseCleanFin.addEventListener("click", closeModalCleanFin);
    }

    if ($btnModalClean) {
      $btnModalClean.addEventListener("click", showModalClean);
      $cancelClean.addEventListener("click", closeModalClean);
      $modalCloseClean.addEventListener("click", closeModalClean);
    }

    if ($btnModalFinalize) {
      $btnModalFinalize.addEventListener("click", showModalFinalize);
      $cancelFinalize.addEventListener("click", closeModalFinalize);
      $modalCloseFinalize.addEventListener("click", closeModalFinalize);
    }

    if ($btnModalEdit) {
      $btnModalEdit.addEventListener("click", showModalEdit);
      $cancelEdit.addEventListener("click", closeModalEdit);
      $modalCloseEdit.addEventListener("click", closeModalEdit);
    }

    if ($btnModalSale) {
      $btnModalSale.addEventListener("click", showModalSale);
      $cancelSale.addEventListener("click", closeModalSale);
      $modalCloseSale.addEventListener("click", closeModalSale);
    }

    if ($btnModalEntering) {
      $btnModalEntering.addEventListener("click", showModalEntering);
      $cancelEntering.addEventListener("click", closeModalEntering);
      $modalCloseEntering.addEventListener("click", closeModalEntering);
    }

    if ($btnModalCancelReservation) {
      $btnModalCancelReservation.addEventListener("click", showModalCancelReservation);
      $cancelCancelReservation.addEventListener("click", closeModalCancelReservation);
      $modalCloseCancelReservation.addEventListener("click", closeModalCancelReservation);
    }

    $btnsModalSaleDetails.forEach(btn => {
      btn.addEventListener("click", showModalSaleDetails);
    });

    const $modalCloseSaleDetails = document.querySelectorAll(".close__modal--details__sale");
    $modalCloseSaleDetails.forEach(btn => {
      btn.addEventListener("click", closeModalSaleDetails);
    });
  });
</script>