<section class="section__all--views">
  <div class="card__items">
    <h5 class="items__name">Tipo de Registro</h5>
    {{#if userRole}}
      {{#if (eq userRole "Admin")}}
        <a href="/records/register" class="items__add">
          <figure class="items__add--figure">
          <img src="/assets/icon-add.svg" alt="Icon Add" class="items__add-figure">
          </figure>Nuevo Registro
        </a>
      {{/if}}
    {{/if}}
    {{#if records}}
      {{#if userRole}}
        {{#if (eq userRole "Admin")}}
          <section class="items">
            <div class="items__container__elements">
              <section class="views__container--elements view__scrollbar">
                <div class="views__content--elements items__container records">
                  <article class="items__header items__grid records">
                    <div class="flex-c-c">Registro:</div>
                    <div class="flex-c-c">Descripción:</div>
                    <div class="flex-c-c">Acciones</div>
                  </article>
                  <div class="items__data--values">
                    {{#each records}}
                      <div class="container__data">
                        <article class="items__data items__grid records">
                          <div class="flex-c-c">{{nombreRegistro}}</div>
                          <div class="flex-c-c">{{descripcionRegistro}}</div>
                          <div class="flex-c-c items__data--options">
                            <a href="/records/{{_id}}/edit" class="options__action">
                              <figure class="options__figure">
                                <img src="../assets/icon-edit.svg" alt="Icon Edit" class="options__img">
                              </figure>
                            </a>
                            <a href="/records/{{_id}}/confirm-delete" class="options__action">
                              <figure class="options__figure">
                                <img src="../assets/icon-delete.svg" alt="Icon Delete" class="options__img">
                              </figure>
                            </a>
                          </div>
                        </article>
                      </div>
                    {{/each}}
                  </div>
                </div>
              </section>
            </div>
          </section>
        {{/if}}
      {{/if}}
    {{else}}
      <h5 class="items__empty">No hay Registros para mostrar 😿</h5>
    {{/if}}
  </div>
</section>