{{#if company}}
  <header class="header">
    <nav class="nav container">
    <a href="/" class="nav__cta">{{company.nombreCompany}}</a>
    {{#if user}}
      <section class="profile__content">
        <article class="profile">
          <div class="profile__details">
            <div class="profile__logo">
              <figure class="profile__figure">
                <img src="/assets/icon-account.svg" alt="Icon Account" class="profile__img">
              </figure>
            </div>
            <div class="profile__data">
              <div class="profile__name">
                {{#if user}}
                  <div class="name">Usuario: {{user.usuario}}</div>
                  {{#if user.trabajadorUsuario}}
                    <div class="rol">Rol: {{user.trabajadorUsuario.rolTrabajador.nombreRol}}</div>
                  {{else}}
                    <div class="rol">Rol: -</div>
                  {{/if}}
                {{else}}
                  <div class="name">Usuario: -</div>
                  <div class="rol">Rol: -</div>
                {{/if}}
              </div>
              <div class="flex-c-c profile__photo">
                <figure class="photo__figure">
                  <img src="/assets/logo-aprendedor.webp" alt="Icon Account" class="photo__img">
                </figure>
              </div>
              {{#if user}}
                <a href="/users/logout" class="profile__logout">
                  <span class="logout__span">Cerrar Sesión</span>
                  <figure class="logout__figure">
                    <img src="/assets/icon-logout.svg" id="logout" alt="Icon Logout" class="logout__img">
                  </figure>
                </a>
              {{/if}}
            </div>
          </div>
        </article>
      </section>
    {{/if}}
    </nav>
  </header>
  {{#if user}}
    <aside class="aside aside--active">
      <div class="sidebar__container">
        <section class="sidebar">
          <article class="sidebar__logo us__sel">
            <div class="logo__content">
              <figure class="logo__figure">
                <img src="/assets/logo-aprendedor.webp" alt="Logo Aprendedor" class="logo__img">
              </figure>
            </div>
            <h4 class="logo__name us__sel">Aprendedor</h4>
          </article>
          <div class="sidebar__menu">
            <figure class="menu__figure us__sel">
              <img src="/assets/icon-hamburger.svg" alt="Icon Hamburguer" class="menu__img">
            </figure>
          </div>
        </section>
        <section class="nav__container">
          <div class="nav__content view__scrollbar">
            <article class="nav__article">
              <div class="nav__section nav__section--negocio nav__section-negocio__minimarket">
                <div class="nav__section__header__container nav__header--negocio">
                  <div class="nav__section__header">
                    <figure class="nav__section__header__figure">
                      <img src="/assets/icon-store.svg" alt="Icon Market" class="nav__section__header__img">
                    </figure>
                    <span class="nav__section__header__span">Minimarket</span>
                  </div>
                  <div class="nav__section__header__arrow">
                    <figure class="nav__section__header__arrow__figure arrow__figure">
                      <img src="/assets/icon-arrow--white.svg" alt="Icon Arrow" class="nav__section__header__arrow__img">
                    </figure>
                  </div>
                </div>
                <div class="nav__section__body__container nav__body--negocio">
                  <ul class="nav__section__body">
                    <li class="nav__element">
                      <a href="/principal" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-home.svg" alt="Icon Home" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Inicio</span>
                      </a>
                    </li>
                    <li class="nav__element">
                      <a href="/clients" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-clients.svg" alt="Icon Clients" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Clientes</span>
                      </a>
                    </li>
                    <li class="nav__element">
                      <a href="/providers" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-provider.svg" alt="Icon Provider" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Proveedores</span>
                      </a>
                    </li>
                    <li class="nav__element element__store">
                      <a href="/stores" class="nav__link nav__link--store">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-cart.svg" alt="Icon Cart" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Almacén</span>
                      </a>
                      <span class="tooltip">Almacén</span>
                    </li>
                    <li class="nav__element">
                      <a href="/providers" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-provider.svg" alt="Icon Provider" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Proveedores</span>
                      </a>
                      <span class="tooltip">Proveedores</span>
                    </li>
                    <li class="nav__element">
                      <a href="/stock-locations" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-store.svg" alt="Icon Location" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Sucursales</span>
                      </a>
                      <span class="tooltip">Sucursales</span>
                    </li>
                    <li class="nav__element">
                      <a href="/categories" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-computer-cell.svg" alt="Icon Categories" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Categorías</span>
                      </a>
                      <span class="tooltip">Categorías</span>
                    </li>
                    <li class="nav__element">
                      <a href="/products" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-products.svg" alt="Icon Employees" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Productos</span>
                      </a>
                      <span class="tooltip">Productos</span>
                    </li>
                    <li class="nav__element">
                      <a href="/users-rol" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-verified.svg" alt="Icon Roles" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Roles</span>
                      </a>
                      <span class="tooltip">Roles</span>
                    </li>
                    <li class="nav__element">
                      <a href="/users" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-user-security.svg" alt="Icon Users" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Usuarios</span>
                      </a>
                      <span class="tooltip">Usuarios</span>
                    </li>
                    <li class="nav__element">
                      <a href="/employees" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-employee.svg" alt="Icon Employees" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Empleados</span>
                      </a>
                      <span class="tooltip">Empleados</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="nav__section nav__section--negocio nav__section--negocio__hotel">
                <div class="nav__section__header__container nav__header--negocio">
                  <div class="nav__section__header">
                    <figure class="nav__section__header__figure">
                      <img src="/assets/icon-room.svg" alt="Icon Room" class="nav__section__header__img">
                    </figure>
                    <span class="nav__section__header__span">Hotel</span>
                  </div>
                  <div class="nav__section__header__arrow">
                    <figure class="nav__section__header__arrow__figure">
                      <img src="/assets/icon-arrow--white.svg" alt="Icon Arrow" class="nav__section__header__arrow__img">
                    </figure>
                  </div>
                </div>
                <div class="nav__section__body__container nav__body--negocio">
                  <ul class="nav__section__body">
                    <li class="nav__element">
                      <a href="/hotel" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-home.svg" alt="Icon Home" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Inicio</span>
                      </a>
                    </li>
                    <li class="nav__element">
                      <a href="/categories-room" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-category-room.svg" alt="Icon Category" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Categorías</span>
                      </a>
                    </li>
                    <li class="nav__element">
                      <a href="/status-room" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-status-room.svg" alt="Icon Status" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Estados</span>
                      </a>
                    </li>
                    <li class="nav__element">
                      <a href="/rooms" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-bed.svg" alt="Icon Bed" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Habitaciones</span>
                      </a>
                    </li>
                    <li class="nav__element">
                      <a href="/maintenances" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-tools.svg" alt="Icon Tools" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Mantenimientos</span>
                      </a>
                    </li>
                    <li class="nav__element">
                      <a href="/reservations" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-room.svg" alt="Icon Floor" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Reservas</span>
                      </a>
                    </li>
                    <li class="nav__element">
                      <a href="/occupations" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-occupation.svg" alt="Icon Occupation" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Ocupados</span>
                      </a>
                    </li>
                    <li class="nav__element">
                      <a href="/cleanings" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-clean.svg" alt="Icon Clean" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Uso-Limpieza</span>
                      </a>
                    </li>
                    <li class="nav__element">
                      <a href="/checkouts" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-check-white.svg" alt="Icon Checkout" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Salidas</span>
                      </a>
                    </li>
                    <li class="nav__element">
                      <a href="/hotel/balance" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-balance.svg" alt="Icon Balance" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Balances</span>
                      </a>
                    </li>
                    <li class="nav__element">
                      <a href="/hotel/sales" class="nav__link">
                        <div class="figure__content">
                          <figure class="nav__figure">
                            <img src="/assets/icon-cart.svg" alt="Icon Sales" class="nav__img">
                          </figure>
                        </div>
                        <span class="element__span">Ventas</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        </section>
      </div>
    </aside>
    <div class="flex-c-c toggle__aside">
      <figure class="toggle__figure">
        <img src="/assets/icon-arrow--blue.svg" alt="Icon Arrow" class="toggle__img">
      </figure>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", async () => {
        try{
          const response = await fetch(`/stores/low-stock-count`);
          const data = await response.json();

          const lowStockCount = data.lowStockProducts || 0;

          const listElement = document.querySelector(".element__store");
          if (lowStockCount > 0) {
            listElement.classList.add("stock__alert__min");
            const spanElement = document.createElement("span");
            spanElement.classList.add("stock__count");
            spanElement.textContent = lowStockCount;
            listElement.appendChild(spanElement);
          }
        } catch (error) {
          console.error("Error: ", error);
        }
      });
    </script>
  {{/if}}
{{/if}}