<section class="section__all--views">
  <div class="content__views">
    <div class="container views__container">
      <div class="card__items">
        <div class="items__elements__title">
          <h5 class="items__name">Mantenimientos activos</h5>
        </div>
        <div class="sub__header">
          <div class="sub__header__container">
            <article class="sub__header__content">
              <section class="section__sub__header">
                <article class="article__sub__header sub__header__actions">
                  <div class="sub__header__actions__container">
                    <div class="sub__header__action">
                      <a href="/" class="sub__header__link">
                        <figure class="sub__header__action__figure">
                          <img src="/assets/icon-back.svg" alt="Icon Back" class="sub__header__action__img">
                        </figure>
                      </a>
                      <span class="sub__header__span">Volver</span>
                    </div>
                    <div class="sub__header__action">
                      <a href="/maintenances/history" class="sub__header__link">
                        <figure class="sub__header__action__figure">
                          <img src="/assets/icon-history.svg" alt="Icon History" class="sub__header__action__img">
                        </figure>
                      </a>
                      <span class="sub__header__span">Historial</span>
                    </div>
                  </div>
                </article>
              </section>
            </article>
          </div>
        </div>
        {{#if maintenances}}
          <section class="items">
            <div class="items__container__elements">
              <section class="views__container--elements view__scrollbar">
                <div class="views__content--elements items__container maintenances">
                  <article class="items__header items__grid maintenances">
                    <div class="flex-c-c">Registrado por:</div>
                    <div class="flex-c-c">Habitación:</div>
                    <div class="flex-c-c">Tipo de Mantenimiento:</div>
                    <div class="flex-c-c">Observaciones:</div>
                    <div class="flex-c-c">A cargo de:</div>
                    <div class="flex-c-c">Fecha Registro:</div>
                  </article>
                  <div class="items__data--values">
                    {{#each maintenances}}
                      <div class="container__data">
                        <article class="items__data items__grid maintenances">
                          <div class="flex-c-c">{{usuarioRegistroMantenimiento.usuario}}</div>
                          <div class="flex-c-c">{{habitacionMantenimiento.numeroHabitacion}}</div>
                          <div class="flex-c-c"><span class="span__data__item status__maintenance">{{tipoMantenimiento}}</span></div>
                          <div class="flex-c-c">{{descripcionMantenimiento}}</div>
                          <div class="flex-c-c">{{usuarioMantenimiento.usuario}}</div>
                          <div class="flex-c-c">{{formatDateTime createdAt}}</div>
                        </article>
                      </div>
                    {{/each}}
                  </div>
                </div>
              </section>
            </div>
          </section>
        {{else}}
          <h5 class="items__empty">No hay Mantenimientos activos para mostrar 😿</h5>
        {{/if}}
      </div>
    </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const $statusMaintenance = document.querySelectorAll(".status__maintenance");

    function statusMaintenance() {
      $statusMaintenance.forEach(item => {
        const estado = item.textContent;
        if (estado === "Limpieza" || estado === "En Limpieza") {
          item.style.backgroundColor = "#ffbd00";
          item.style.color = "#fff"
        } else if (estado === "Mantenimiento" || estado === "En Mantenimiento") {
          item.style.backgroundColor = "#ad2831";
          item.style.color = "#fff"
        }
      });
    };
    statusMaintenance();
  });
</script>