<div class="sub__header sub__header--fixed">
  <div class="sub__header__container">
    <article class="sub__header__content">
      <section class="section__sub__header">
        <article class="article__sub__header sub__header__actions">
          <div class="sub__header__actions__container">
            <div class="sub__header__action">
              <a href="/maintenances" class="sub__header__link">
                <figure class="sub__header__action__figure">
                  <img src="/assets/icon-back.svg" alt="Icon Back" class="sub__header__action__img">
                </figure>
              </a>
              <span class="sub__header__span">Volver</span>
            </div>
          </div>
        </article>
      </section>
    </article>
  </div>
</div>
<section class="section__all--forms">
  <div class="container__form__container">
    <div class="container">
      <section class="section__form">
        <form action="/maintenance/{{roomHotel._id}}/finalize" method="POST" class="form">
          <div class="form__content">
            <h2 class="form__title">Establecer Estado</h2>
            <div class="form__img">
              <figure class="login__figure">
                <img src="/assets/logo-aprendedor.webp" alt="Logo Aprendedor" class="login__img">
              </figure>
            </div>
            <section class="form__container">
              <article class="form__group form__group--select us__sel">
                <label for="habitacion_hotel_mantenimiento" class="form__label--select">Habitación:</label>
                <select name="habitacionHotelMantenimiento" class="form__input us__sel" id="habitacion_hotel_mantenimiento">
                  <option value="{{roomHotel._id}}" selected>{{roomHotel.habitacionHotel.numeroHabitacion}}</option>
                </select>
              </article>
              <article class="form__group form__group--select">
                <label for="estado_habitacion" class="form__label--select">Tipo de mantenimiento:</label>
                <select name="tipoMantenimiento" id="tipo_mantenimiento" class="form__input">
                <option value="" selected disabled>Selecciona:</option>
                  {{#each statusRooms}}
                    <option value="{{_id}}">{{nombreEstadoHabitacion}}</option>
                  {{/each}}
                </select>
              </article>
              <button class="form__submit">Actualizar</button>
            </section>
          </div>
        </form>
      </section>
    </div>
  </div>
</section>