<section class="section__all--views">
  <div class="content__views">
    <div class="container views__container">
      <div class="card__items">
        <div class="items__elements__title">
          <h5 class="items__name">Empleados</h5>
        </div>
        <div class="sub__header">
          <div class="sub__header__container">
            <article class="sub__header__content">
              <section class="section__sub__header">
                <article class="article__sub__header sub__header__actions">
                  <div class="sub__header__actions__container">
                    <div class="sub__header__action">
                      <a href="/" class="sub__header__link">
                        <figure class="sub__header__figure">
                          <img src="/assets/icon-back.svg" alt="Icon Back" class="sub__header__img">
                        </figure>
                      </a>
                      <span class="sub__header__span">Volver</span>
                    </div>
                    <div class="sub__header__action">
                      <a href="/employees/register" class="sub__header__link">
                        <figure class="sub__header__figure">
                          <img src="/assets/icon-add.svg" alt="Icon Add" class="sub__header__img">
                        </figure>
                      </a>
                      <span class="sub__header__span">Nuevo Trabajador</span>
                    </div>
                    <div class="sub__header__action">
                      <a href="/employees/history" class="sub__header__link">
                        <figure class="sub__header__figure">
                          <img src="/assets/icon-history.svg" alt="Icon History" class="sub__header__img">
                        </figure>
                      </a>
                      <span class="sub__header__span">Historial</span>
                    </div>
                    <div class="sub__header__action action__export--excel">
                      <a href="/employees/export-excel" class="sub__header__link">
                        <figure class="sub__header__figure">
                          <img src="/assets/icon-excel.svg" alt="Icon Export" class="sub__header__img">
                        </figure>
                      </a>
                      <span class="sub__header__span">Exportar</span>
                    </div>
                  </div>
                </article>
                <article class="article__sub__header sub__header__filters">
                  <div class="sub__header__filters__container">
                    <div class="sub__header__filter search__by">
                      <select name="search" id="select-search">
                        <option selected value="dni">Buscar por DNI</option>
                        <option value="nombre">Buscar por Nombre</option>
                        <option value="celular">Buscar por Celular</option>
                        <option value="correo">Buscar por Correo</option>
                      </select>
                    </div>
                    <div class="sub__header__filter flex-c-c input__search--container">
                      <label for="search-element" class="label__search">
                        <figure class="search__figure">
                          <img src="/assets/icon-search.svg" alt="Icon Search" class="search__img">
                        </figure>
                      </label>
                      <input class="input__search" type="search" id="search-element" placeholder="Busca un trabajador" title="Busca un trabajador">
                    </div>
                    <div class="sub__header__filter flex-c-c order__items">
                      <button type="button" class="order__container">
                        <figure class="order__figure">
                          <img src="/assets/icon-order.svg" alt="Icon Filter" class="filter__img">
                        </figure>
                        <div class="order__by">
                          <select name="order" id="select-order">
                            <option value="asc" selected>Ascendente</option>
                            <option value="desc">Descendente</option>
                          </select>
                        </div>
                      </button>
                    </div>
                  </div>
                </article>
              </section>
            </article>
          </div>
        </div>
        {{#if employees}}
          {{#if userRole}}
            {{#if (eq userRole "Admin")}}
              <section class="items">
                <div class="items__container__elements">
                  <section class="views__container--elements view__scrollbar">
                    <div class="views__content--elements items__container employees">
                      <article class="items__header items__grid employees">
                        <div class="flex-c-c">Registrado por</div>
                        <div class="flex-c-c">Rol</div>
                        <div class="flex-c-c">DNI</div>
                        <div class="flex-c-c">Nombres</div>
                        <div class="flex-c-c">Celular</div>
                        <div class="flex-c-c">Correo</div>
                        <div class="flex-c-c">Fecha</div>
                        <div class="flex-c-c">Estado</div>
                        <div class="flex-c-c">Acciones</div>
                      </article>
                      <div class="items__data--values">
                        {{#each employees}}
                          <div class="container__data">
                            <article class="items__data items__grid employees product__data">
                              <div class="flex-c-c">{{#if usuarioRegistroTrabajador}}{{usuarioRegistroTrabajador.usuario}}{{else}}SuperAdmin{{/if}}</div>
                              <div class="flex-c-c">{{rolTrabajador.nombreRol}}</div>
                              <div class="flex-c-c"data-dni="{{dniTrabajador}}">{{dniTrabajador}}</div>
                              <div class="flex-c-c"data-nombre="{{nombreTrabajador}}">{{nombreTrabajador}} {{apellidosTrabajador}}</div>
                              <div class="flex-c-c"data-celular="{{celularTrabajador}}">{{celularTrabajador}}</div>
                              <div class="flex-c-c"data-correo="{{correoTrabajador}}">{{correoTrabajador}}</div>
                              <div class="flex-c-c">{{formatDateTime createdAt}}</div>
                              <div class="flex-c-c">{{estadoTrabajador}}</div>
                              <div class="flex-c-c items__data--options">
                                <a href="/employees/{{_id}}/details" class="options__action">
                                  <figure class="options__figure">
                                    <img src="/assets/icon-edit.svg" alt="Icon Edit" class="options__img">
                                  </figure>
                                  <span class="span__detail">Detalles</span>
                                </a>
                                <a href="/employees/{{_id}}/edit" class="options__action">
                                  <figure class="options__figure">
                                    <img src="/assets/icon-edit.svg" alt="Icon Edit" class="options__img">
                                  </figure>
                                </a>
                                <a href="/employees/{{_id}}/confirm-delete" class="options__action">
                                  <figure class="options__figure">
                                    <img src="/assets/icon-delete.svg" alt="Icon Delete" class="options__img">
                                  </figure>
                                </a>
                              </div>
                            </article>
                          </div>
                        {{/each}}
                      </div>
                    </div>
                  </section>
                </div>
              </section>
            {{/if}}
          {{/if}}
        {{else}}
          <h5 class="items__empty">No hay empleados para mostrar 😿</h5>
        {{/if}}
      </div>
    </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const selectSearch = document.getElementById("select-search");
    const searchElement = document.getElementById("search-element");
    const selectOrder = document.getElementById("select-order");
    const itemsDataValues = document.querySelector(".items__data--values");
    const productData = document.querySelectorAll(".product__data");

    function getUrlParams() {
      const urlParams = new URLSearchParams(window.location.search);
      return urlParams;
    }

    function filterAndSortItems(selectedFilter, searchQuery, selectedOrder, page) {
      // Filtrar y ordenar los elementos de la lista 
      productData.forEach(item => {
        const childElement = item.querySelector(`[data-${selectedFilter}]`);
        if (!childElement || !childElement.textContent.toLowerCase().includes(searchQuery)) {
          item.style.display = "none";
        } else {
          item.style.display = "grid";
        }
      });

      // Ordenar los elementos de la lista
      const sortedItems = Array.from(productData)
        .sort((a, b) => {
          // Función para verificar si un valor es numérico
          function isNumeric(value) {
            return /^\d+$/.test(value);
          };

          const aValueElement = a.querySelector(`[data-${selectedFilter}]`);
          const bValueElement = b.querySelector(`[data-${selectedFilter}]`);

          const aValue = aValueElement.getAttribute(`data-${selectedFilter}`);
          const bValue = bValueElement.getAttribute(`data-${selectedFilter}`);

          const aNumericValue = isNumeric(aValue) ? parseFloat(aValue) : null;
          const bNumericValue = isNumeric(bValue) ? parseFloat(bValue) : null;

          if (aNumericValue !== null && bNumericValue !== null) {
            return selectedOrder === "asc" ? aNumericValue - bNumericValue : bNumericValue - aNumericValue;
          } else if (aNumericValue !== null) {
            return -1;
          } else if (bNumericValue !== null) {
            return 1;
          } else {
            return selectedOrder === "asc" ? aValue.localeCompare(bValue) : bValue.localeCompare(aValue)
          }
        });

      if (sortedItems.length > 0) {
        itemsDataValues.innerHTML = "";
        sortedItems.forEach(item => itemsDataValues.appendChild(item));
      } else {
        console.log("No se encontraron Clientes: ", sortedItems);
      }

      // Actualizar los parámetros de la URL después de filtrar y ordenar
      const urlParams = getUrlParams();
      urlParams.set("f", selectedFilter);
      urlParams.set("q", searchQuery);
      urlParams.set("o", selectedOrder);
      console.log("URLParams: ", urlParams);
      window.history.replaceState({}, "", `${location.pathname}?${urlParams}`);
    }

    // Llamar a la función filtrar al cargar la vista
    const initialSearchQuery = searchElement.value.toLowerCase();
    filterAndSortItems(selectSearch.value, initialSearchQuery, selectOrder.value);

    // Select de busqueda y ordenamiento
    selectSearch.addEventListener("change", () => {
      const selectedFilter = selectSearch.value;
      const searchQuery = searchElement.value.toLowerCase();
      const selectedOrder = selectOrder.value;
      console.log("Filtrando por: ", selectedFilter)

      filterAndSortItems(selectedFilter, searchQuery, selectedOrder);
    });

    // Input search
    searchElement.addEventListener("input", () => {
      const selectedFilter = selectSearch.value;
      const searchQuery = searchElement.value.toLowerCase();
      const selectedOrder = selectOrder.value;
      console.log("Buscar: ", searchQuery);

      filterAndSortItems(selectedFilter, searchQuery, selectedOrder);
    });

    selectOrder.addEventListener("change", () => {
      const selectedFilter = selectSearch.value;
      const searchQuery = searchElement.value.toLowerCase();
      const selectedOrder = selectOrder.value;
      console.log("Ordenando por: ", selectedOrder);

      filterAndSortItems(selectedFilter, searchQuery, selectedOrder);
    });
  });
</script>