<section class="section__all--views">
  <div class="content__views">
    <div class="container views__container">
      <div class="card__items">
        <div class="items__elements__title">
          <h5 class="items__name">Historial Empleados</h5>
        </div>
        <div class="sub__header">
          <div class="sub__header__container">
            <article class="sub__header__content">
              <section class="section__sub__header">
                <article class="article__sub__header sub__header__actions">
                  <div class="sub__header__actions__container">
                    <div class="sub__header__action">
                      <a href="/employees" class="sub__header__link">
                        <figure class="sub__header__figure">
                          <img src="/assets/icon-back.svg" alt="Icon back" class="sub__header__img">
                        </figure>
                      </a>
                      <span class="sub__header__span">Volver</span>
                    </div>
                    <div class="sub__header__action">
                      <a href="/employees/register" class="sub__header__link">
                        <figure class="sub__header__figure">
                          <img src="/assets/icon-add.svg" alt="Icon add" class="sub__header__img">
                        </figure>
                      </a>
                      <span class="sub__header__span">Nuevo Trabajador</span>
                    </div>
                  </div>
                </article>
              </section>
            </article>
          </div>
        </div>
        {{#if employeesHistory}}
          <section class="items">
            <div class="items__container__elements">
              <section class="views__container--elements view__scrollbar">
                <div class="items__container employees__history">
                  <article class="items__header items__grid employees__history">
                    <div class="flex-c-c">Tipo</div>
                    <div class="flex-c-c">Hecho por</div>
                    <div class="flex-c-c">Rol</div>
                    <div class="flex-c-c">DNI</div>
                    <div class="flex-c-c">Nombres</div>
                    <div class="flex-c-c">Celular</div>
                    <div class="flex-c-c">Correo</div>
                    <div class="flex-c-c">Estado</div>
                    <div class="flex-c-c">Fecha</div>
                  </article>
                  <div class="items__data--values">
                    {{#each employeesHistory}}
                      <div class="container__data">
                        <article class="items__data items__grid employees__history">
                          <div class="flex-c-c"><span class="span__data__item tipo__historial">{{tipoHistorial}}</span></div>
                          <div class="flex-c-c">{{#if usuarioHistorial}}{{usuarioHistorial.usuario}}{{else}}-{{/if}}</div>
                          <div class="flex-c-c">{{#if rolTrabajadorHistorial}}{{rolTrabajadorHistorial.nombreRol}}{{else}}-{{/if}}</div>
                          <div class="flex-c-c">{{#if dniTrabajadorHistorial}}{{dniTrabajadorHistorial}}{{else}}-{{/if}}</div>
                          <div class="flex-c-c">{{#if nombreTrabajadorHistorial}}{{nombreTrabajadorHistorial}} {{apellidosTrabajadorHistorial}}{{else}}-{{/if}}</div>
                          <div class="flex-c-c">{{#if celularTrabajadorHistorial}}{{celularTrabajadorHistorial}}{{else}}-{{/if}}</div>
                          <div class="flex-c-c">{{#if correoTrabajadorHistorial}}{{correoTrabajadorHistorial}}{{else}}-{{/if}}</div>
                          <div class="flex-c-c">{{#if estadoTrabajadorHistorial}}{{estadoTrabajadorHistorial}}{{else}}-{{/if}}</div>
                          <div class="flex-c-c">{{formatDateTime createdAt}}</div>
                        </article>
                      </div>
                    {{/each}}
                  </div>
                </div>
              </section>
            </div>
          </section>
        {{else}}
          <h5 class="items__empty">No hay historial para mostrar 😿</h5>
        {{/if}}
      </div>
    </div>
  </div>
</section>