<section class="section__all--views">
  <div class="content__views">
    <div class="container views__container">
      <div class="card__items">
        <div class="items__elements__title">
          <h5 class="items__name">Usuarios</h5>
        </div>
        <div class="sub__header">
          <div class="sub__header__container">
            <article class="sub__header__content">
              <section class="section__sub__header">
                <article class="article__sub__header sub__header__actions">
                  <div class="sub__header__actions__container">
                    <div class="sub__header__action">
                      <a href="/" class="sub__header__link">
                        <figure class="sub__header__figure">
                          <img src="/assets/icon-back.svg" alt="Icon Back" class="sub__header__img">
                        </figure>
                      </a>
                      <span class="sub__header__span">Volver</span>
                    </div>
                    <div class="sub__header__action">
                      <a href="/users/register" class="sub__header__link">
                        <figure class="sub__header__figure">
                          <img src="/assets/icon-add.svg" alt="Icon Add" class="sub__header__img">
                        </figure>
                      </a>
                      <span class="sub__header__span">Nuevo Usuario</span>
                    </div>
                    <div class="sub__header__action">
                      <a href="/users/history" class="sub__header__link">
                        <figure class="sub__header__figure">
                          <img src="/assets/icon-history.svg" alt="Icon History" class="sub__header__img">
                        </figure>
                      </a>
                      <span class="sub__header__span">Historial</span>
                    </div>
                  </div>
                </article>
              </section>
            </article>
          </div>
        </div>
        {{#if users}}
          <section class="items">
            <div class="items__container__elements">
              <section class="views__container--elements view__scrollbar">
                <div class="views__content--elements items__container usuarios">
                  <article class="items__header items__grid usuarios">
                    <div class="flex-c-c">Rol:</div>
                    <div class="flex-c-c">DNI:</div>
                    <div class="flex-c-c">Nombre:</div>
                    <div class="flex-c-c">Celular:</div>
                    <div class="flex-c-c">Correo:</div>
                    <div class="flex-c-c">Usuario:</div>
                    <div class="flex-c-c">Fecha Registro:</div>
                    <div class="flex-c-c">Acciones:</div>
                  </article>
                  <div class="items__data--values">
                    {{#each users}}
                      <div class="container__data">
                        <article class="items__data items__grid usuarios">
                          <div class="flex-c-c">{{trabajadorUsuario.rolTrabajador.nombreRol}}</div>
                          <div class="flex-c-c">{{trabajadorUsuario.dniTrabajador}}</div>
                          <div class="flex-c-c">{{trabajadorUsuario.nombreTrabajador}} {{this.trabajadorUsuario.apellidosTrabajador}}</div>
                          <div class="flex-c-c">{{trabajadorUsuario.celularTrabajador}}</div>
                          <div class="flex-c-c">{{trabajadorUsuario.correoTrabajador}}</div>
                          <div class="flex-c-c">{{usuario}}</div>
                          <div class="flex-c-c">{{formatDateTime trabajadorUsuario.createdAt}}</div>
                          <div class="flex-c-c items__data--options">
                            <a href="/users/{{_id}}/edit" class="options__action">
                              <figure class="options__figure">
                                <img src="../assets/icon-edit.svg" alt="Icon Edit" class="options__img">
                              </figure>
                            </a>
                            <a href="/users/{{_id}}/confirm-delete" class="options__action">
                              <figure class="options__figure">
                                <img src="../assets/icon-delete.svg" alt="Icon Delete" class="options__img">
                              </figure>
                            </a>
                          </div>
                        </article>
                      </div>
                    {{/each}}
                  </div>
                </div>
              </section>
            </div>
          </section>
        {{else}}
          <h5 class="items__empty">No hay Usuarios para mostrar 😿</h5>
        {{/if}}
      </div>
    </div>
  </div>
</section>