<div class="sub__header sub__header--fixed">
  <div class="sub__header__container">
    <article class="sub__header__content">
      <section class="section__sub__header">
        <article class="article__sub__header sub__header__actions">
          <div class="sub__header__actions__container">
            <div class="sub__header__action">
              <a href="/users" class="sub__header__link">
                <figure class="sub__header__figure">
                  <img src="/assets/icon-back.svg" alt="Icon Back" class="sub__header__img">
                </figure>
              </a>
              <span class="sub__header__span">Volver</span>
            </div>
          </div>
        </article>
      </section>
    </article>
  </div>
</div>
<section class="section__all--forms">
  <div class="container__form__container">
    <div class="container">
      <section class="section__form">
        <form action="/users/{{usuario._id}}/edit" method="POST" class="form">
          <div class="form__content">
            <h2 class="form__title">Editar usuario</h2>
            <div class="form__img">
              <figure class="login__figure">
                <img src="{{logoUrl}}" alt="Logo Aprendedor" class="login__img">
              </figure>
            </div>
            <section class="form__container">
              <article class="form__group">
                <select name="trabajadorUsuario" id="edit_trabajador_usuario" class="form__input">
                  <option selected disabled value="selecciona">Trabajador:</option>
                  {{#each employees}}
                    <option value="{{_id}}" data-dni="{{dniTrabajador}}" data-nombre="{{nombreTrabajador}}" data-apellido="{{apellidosTrabajador}}" {{#if (eq ../usuario.trabajadorUsuario._id _id)}} selected{{/if}}>{{dniTrabajador}}/{{nombreTrabajador}}/{{rolTrabajador.nombreRol}}</option>
                  {{/each}}
                </select>
              </article>
              <article class="form__group">
                <input class="form__input" type="text" name="usuario" id="edit_usuario"
                title="Ingresa el nombre de usuario" placeholder=" " value="{{usuario.usuario}}" required>
                <label for="edit_usuario" class="form__label">Usuario:</label>
                <span class="form__line"></span>
              </article>
              <article class="form__group">
                <input class="form__input" type="password" name="password" id="edit_password_usuario" placeholder=" " required>
                <label for="edit_password_usuario" class="form__label">Contraseña:</label>
                <span class="form__line"></span>
              </article>
              <article class="form__group">
                <input class="form__input" type="password" name="confirm_password" id="edit_confirm_password_usuario" placeholder=" " required>
                <label for="edit_confirm_password_usuario" class="form__label">Confirmar contraseña:</label>
                <span class="form__line"></span>
                <input class="togglePassword" type="checkbox" name="mostrarPassword" id="edit_togglePassword">
              </article>
              <button class="form__submit">Actualizar</button>
            </section>
          </div>
        </form>
      </section>
    </div>
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const trabajadorSelect = document.getElementById('edit_trabajador_usuario');
    const usuarioInput = document.getElementById('edit_usuario');

    usuarioInput.addEventListener('input', e => {
      let input = e.target;
      // Validar escritura solo minúsculas
      input.value = input.value.toLowerCase();
      // Validar que no hayan espacios y que sea solo letras y números sin signos o simbolos
      if (input.value.includes(" ")) {
        input.value = input.value.replace(/ /g, "");
      }
      if (!input.value.match(/^[a-zA-Z0-9]+$/)) {
        input.value = "";
      }
    });

    trabajadorSelect.addEventListener('change', () => {
      const selectedOption = trabajadorSelect.options[trabajadorSelect.selectedIndex];
      const nombre = selectedOption.getAttribute('data-nombre');
      const apellido = selectedOption.getAttribute('data-apellido');
      const dni = selectedOption.getAttribute('data-dni').slice(-4);

      // Generar nombre de usuario
      const nombreUsuario = (nombre.charAt(0) + apellido + dni).toLowerCase();

      // Verificar si hay usuario esixtente
      let usuarionameCount = 1;
      let usuarioname = nombreUsuario;
      while (document.querySelector(`option[value="${usuarioname}"]`) !== null) {
        usuarionameCount++;
        usuarioname = `${nombreUsuario}${usuarionameCount}`;
      }

      // Asignar el nombre de usuario al input
      usuarioInput.value = usuarioname;
    });

    // Cambiar de tipo password a text
    const passwordInput = document.getElementById('edit_password_usuario');
    const confirmInput = document.getElementById('edit_confirm_password_usuario');
    const togglePasswordCheckbox = document.getElementById('edit_togglePassword');

    togglePasswordCheckbox.addEventListener('change', function () {
      const type = this.checked ? 'text' : 'password';
      passwordInput.setAttribute('type', type);
      confirmInput.setAttribute('type', type);
    });
  });
</script>